set_io clk_if K6
set_io i2c_scl H9
set_io i2c_sda J8
set_io fx2_sloe L3
set_io fx2_slrd J5
set_io fx2_slwr J4
set_io fx2_pktend L1
set_io fx2_fifoadr[0] K3
set_io fx2_fifoadr[1] L2
set_io fx2_flag[0] L7
set_io fx2_flag[1] K5
set_io fx2_flag[2] L4
set_io fx2_flag[3] J3
set_io fx2_fd[0] H7
set_io fx2_fd[1] J7
set_io fx2_fd[2] J9
set_io fx2_fd[3] K10
set_io fx2_fd[4] L10
set_io fx2_fd[5] K9
set_io fx2_fd[6] L8
set_io fx2_fd[7] K7
set_io port_a_io A1
set_io port_a_oe C7
set_io port_a_io_1 A2
set_io port_a_oe_1 C8
set_io port_a_io_2 B3
set_io port_a_oe_2 D7
set_io port_a_io_3 A3
set_io port_a_oe_3 A7
set_io port_a_io_4 B6
set_io port_a_oe_4 B8
